@{
    ViewData["Title"] = "Hammie Shopping page for hammies.";
}
<div id="master">
    <div id="header">
        <ul>
            <h3><a href="/hammiesHome">Home</a></h3>
            <h3><a href="/hammieBlog"><ins>Blog</ins></a></h3>
            <h3><a href="/hammieShop">Shop</a></h3>
            <h3><a href="/hammieWeather">Weather</a></h3>
            <h3><a href="/hammieSettings">Settings</a></h3>
            <img src="" alt="Weather_Graphic">
        
            <label id="MainSearchShop">Search Shop:</label>
            <input id="MainSearchShop" action="/searchHammieShop" method="post" type="text" name="SeachHammieShop" placeholder="Sunflower...">
        </ul>
    </div>
    <div id="leftSidebar">
        <img class="hammiePic" src="~/images/happysun.jpg" alt="user_profilePic">
        <p>Hammie Name</p>
        @{
            if(@ViewBag.HammyLoggedIn != null){
                <form action="/logoff" method="get">
                    <button type="submit" name="Logoff">Logoff</button>
                </form>
                
            }
            else{
                <form action="/goLogin" method="get">
                    <button type="submit" name="GoLogIn">Login!</button>
                </form>
            }
        }
    </div>
</div>