@{
    ViewData["Title"] = "Hammy Igloo Page";
}
<div id="master">
    <div id="header">
        <ul>
            <h3><a href="/myHome">Dashboard</a></h3>
            <h3><a href="/hammyGoodies">Products</a></h3>
            <h3><a href="/wheel">Orders</a></h3>
            <h3><a href="/hammies">Customers</a></h3>
            <h3><a href="">Settings</a></h3>
        </ul>
    </div>
    <div id="leftSidebar">
        <form action="" method="get">
            <input type="text" name="searchInput" placeholder="search...">
            <button type="submit" name="Filter">Filter</button>
        </form>
    </div>
    <div id="mainBody">
        <p>CottonViewPage will be the Dashboard</p>
        <div class="newItem">
            <img src="" alt="PlaceHolder" href="">
            <h5>ITEM NAME</h5>
            <h6>Quantity Left</h6>
        </div>
        <div class="newItem">
            <img src="" alt="PlaceHolder" href="">
            <h5>ITEM NAME</h5>
            <h6>Quantity Left</h6>
        </div>
        <div class="newItem">
            <img src="" alt="PlaceHolder" href="">
            <h5>ITEM NAME</h5>
            <h6>Quantity Left</h6>
        </div>
        <div class="newItem">
            <img src="" alt="PlaceHolder" href="">
            <h5>ITEM NAME</h5>
            <h6>Quantity Left</h6>
        </div>
        <div class="newItem">
            <img src="" alt="PlaceHolder" href="">
            <h5>ITEM NAME</h5>
            <h6>Quantity Left</h6>
        </div>
        <a href="">show more...</a>
        <div id="recentOrder">
            <h4>Revent Orders</h4>
            <a href="">show all orders...</a>
        </div>
        <div id="newCustomers">
            <h4>New Customer</h4>
            <a href="">show all customers...</a>
        </div>
    </div>
    <div id="footer">
        <p>Brought to you by sleeping hamsters</p>
    </div>
</div>